.trip-list
  .trip-card-container
    .saved-trip-card.trip-card.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--expand
        h2.mdl-card__title-text Route 66
      .mdl-card__supporting-text
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
        | Start planning your new roadtrip now. 
    .new-trip-card.trip-card.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--expand
        h2.mdl-card__title-text New Trip
      .mdl-card__supporting-text
        | Start planning your new roadtrip now.

  