// Always shows a header, even in smaller screens.
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.top-bar
  header.mdl-layout__header
    .mdl-layout__header-row
      // Title
      img.mdl-layout-title.bar-title(src="../../assets/trip-title.svg")
      // Add spacer, to align navigation to the right
      .mdl-layout-spacer
      nav.mdl-navigation
        span.mdl-.mdl-chip.mdl-chip--contact.mdl-chip-inverted.clickable(id='user-chip')
          ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='user-chip')
            li.mdl-menu__item Settings
            li.mdl-menu__item Logout
          span.mdl-chip__text Víctor Portals Lorenzo
          span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
            i.material-icons person
  .mdl-layout__drawer(v-autofold="1")
    //- span.mdl-layout-title Menu
    nav.mdl-navigation
      a.mdl-navigation__link(href='/#/login') Login
      a.mdl-navigation__link(href='/#/triplist') My Trips
      a.mdl-navigation__link(href='/#/newstage') New Stage