.top-bar{
	@media screen and (min-width: 900px){
		.mdl-layout__header {
			display: flex;
		}
	}

	.mdl-layout__header {
		position: fixed;
	}

	.bar-title{
		height: 100%;
	}

	.mdl-layout__drawer.is-visible{
		width: 345px;
	}
}