// Always shows a header, even in smaller screens.
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.top-bar
  header.mdl-layout__header
    .mdl-layout__header-row
      // Title
      img.mdl-layout-title(src="../../assets/trip-title.svg")
      // Add spacer, to align navigation to the right
      .mdl-layout-spacer
      // Navigation. We hide it in small screens.
      nav.mdl-navigation.mdl-layout--large-screen-only
        a.mdl-navigation__link(href='/') Link
        a.mdl-navigation__link(href='/') Link
        a.mdl-navigation__link(href='/') Link
        a.mdl-navigation__link(href='/') Link
  .mdl-layout__drawer
    span.mdl-layout-title Title
    nav.mdl-navigation
      a.mdl-navigation__link(href='/') Link
      a.mdl-navigation__link(href='/') Link
      a.mdl-navigation__link(href='/') Link
      a.mdl-navigation__link(href='/') Link