

/* XS Small devices (tablets, 768px and less) */
@media (max-width: 900px) { 
	.full-height{
	  height: 100vh;
	}
}

/* SM Small devices (tablets, 768px and up) */
@media (min-width: 900px) {
	.full-height{
	  height: -webkit-calc(100vh - 95px);
	  height:    -moz-calc(100vh - 95px);
	  height:         calc(100vh - 95px);
	}
	.container-fluid{
		padding-top: 84px;
		// padding-bottom: 10px;
		position: relative;
	}
}


.app-containter {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center{ text-align: center;}
.left{ text-align: left;}
.right{ text-align: right;}

.wp100{
	width: 100%;
}

.wp75{
	width: 75%;
}

.wp50{
	width: 50%;
}

.wp25{
	width: 25%;
}
