

/* XS Small devices (tablets, 768px and less) */
@media (max-width: 900px) { 
	#app{
	  padding-top: 0;
	  padding-bottom: 0;
	}
	.full-height{
	  height: 100vh;
	}
}

/* SM Small devices (tablets, 768px and up) */
@media (min-width: 900px) {
	#app{
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
	.full-height{
	  height: -webkit-calc(100vh - 80px);
	  height:    -moz-calc(100vh - 80px);
	  height:         calc(100vh - 80px);
	}
}

/* LG Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


#app {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.center{ text-align: center;}
.left{ text-align: left;}
.right{ text-align: right;}

.wp100{
	width: 100%;
}

.wp75{
	width: 75%;
}

.wp50{
	width: 50%;
}

.wp25{
	width: 25%;
}
