.route-list{

	/* XS Small devices (tablets, 768px and less) */
	@media (max-width: 900px) { 
		.list-card {
			height: auto;
			top: 56px;
			left: 0;
		}
		.stopover-list{
			max-height: 40vh;
		}
	}

	@media (min-width: 900px) {

	}

	.list-card {
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		width: 100%;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		box-shadow: 0 0 5px rgba(0,0,0,0.25), 0 4px 20px rgba(0,0,0,0.22);
		hr{
			margin: 0;
		}
	}

	.card-title{
		position: relative;
		height: 60px;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		padding: 10px 5px 5px 10px;
		color: white;
		background-color: #3F51B5;
		justify-content: space-between;
		.stage-name{
			width: calc(100% - 70px);
			input{
				font-size: 23px;
			}
		}
		button{
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
		button>i{
			color: white;
			font-size: 24px;
		}
	}


	.card-search{
		.mdl-button{
			width: 45px;
			min-width: 45px;
			height: 45px;
		}
		.add-button{
			line-height: 65px;
			padding-left: 0;
		}
	}

	.stopover-list{
		overflow-y: auto;
		.mdl-list{
			padding: 0;
			margin: 0;
		}
		.row{
			width: 100%;
			padding: 0;
			border-bottom: 1px solid #d9d9d9;
			margin-left: 0;
		}
		.icons-hub{
			display: flex;
			justify-content: flex-end;
		}
		.location-name{
			white-space: nowrap;
			text-align: left;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline;
		}
		.handle{
			margin-right: 10px;
		}
		.edit-stopover:hover{
			color: #3F51B5;
			cursor: pointer;
			font-size: 26px;
		}
		.show-location:hover{
			color: #3F51B5;
			cursor: pointer;
			font-size: 26px;
		}
	}
}
