.stopOverModal {
	/* XS Small devices (tablets, 768px and less) */
	@media (max-width: 900px) {	
		.mdl-dialog{
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			.mdl-dialog__actions{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}
	/* LG Large devices (large desktops, 1200px and up) */
	@media (min-width: 900px) {	
		.mdl-dialog{
			width: 452px;
		}
	}

	// ALL
	.mdl-dialog{
		padding: 0;
		.mdl-dialog__content{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.stop-name{
		text-align: left;
	}
	.time-group{
		text-align: left;
		label{
			margin-right: 10px;
		}
	}
	.time-picker{
		width: 75px;
	}
	.line-wrapper{
		display: inline-block;
		width: 98px;
	}
	.comments{
		width: 100%;
	}
	#select-type{
		min-width: 65px;
		width: 65px;
		height: 65px;
		padding: 0;
		background-color: #f2f2f2;
	}
	#select-type:hover{
		background-color: #d9d9d9;
	}
	.type-text{
		text-transform: none;
		display: block;
		font-size: 15px;
		line-height: 15px;
	}
	.delete-stopover{
		color: red;
	}
}