.locationSearchBox
  .mdl-textfield.mdl-js-textfield
    input#loc-input.mdl-textfield__input(type='text', v-model='searchString', placeholder='Search Location')
    label.mdl-textfield__label 
     //- Label element needed to mdl underlining 
